{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.picture %}
            <span class="link">
                <img 
                class="selfie" 
                alt="{{ site.picture }}" 
                src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" 
                />
            </span>
        {% endif %}

        <h1 class="title">{{ site.domain_name }}</h1>
        <h2 class="description">{{ site.domain_description}}</h2>

        <h2 class="description">
            Send me an offer
            <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
                <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
            </a>
        </div>
    </header>
{% endif %}

{% include nav.html %}
